= render "shared/header"
.user-comfir
  .user-comfir__container
    .user-comfir__container__side
      = render "shared/sidebar"
    .user-comfir__contents
      %h2.user-comfir__contents__head
        本人情報の登録
      .user-comfir__content
        = form_for current_user do |f|
          = f.text_field :nickname, class: 'input-name', placeholder: current_user.nickname, autofocus: true, autocomplete: "name"