.footer
  .footer__box
    %a.footer__box-logo{href:""}
      %img.footer__box-logo-image{src:"https://web-jp-assets.mercdn.net/_next/static/images/logo-white-1a0696cf557ee1ed6f3c3444661d21ad.svg"}
    %span.footer__box-text © 2019 Mercari