.header
  .header__box
    .header__box__top
      .header__box__top__left
        %a.header__box__top__left-link{href: ""}
          %img.header__box__top__left-link-logo{:src=>"https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg"}
      %form{action: "search", class: "header__box__top__right"}
        %input{name: "keyword",placeholder: "何かお探しですか？",type: "search", class:"header__box__top__right-search"}
        %button{:type=>"submit", :class=>"header__box__top__right-button"}
          %svg.header__box__top__right-button-icon{"aria-hidden" => "true", :height => "16", :viewbox => "0 0 16 16", :width => "16"}
            %path{:d => "M11.435 10.063h-.723l-.256-.247a5.92 5.92 0 0 0 1.437-3.87 5.946 5.946 0 1 0-5.947 5.947 5.92 5.92 0 0 0 3.87-1.437l.247.256v.723L14.637 16 16 14.637l-4.565-4.574zm-5.489 0A4.111 4.111 0 0 1 1.83 5.946 4.111 4.111 0 0 1 5.946 1.83a4.111 4.111 0 0 1 4.117 4.116 4.111 4.111 0 0 1-4.117 4.117z", :fill => "currentColor", "fill-rule" => "nonzero"}
    .header__box__down
      .header__main__down-leftbox
        .header__main__down__leftbox-category
          = link_to "カテゴリーから探す", root_path
        .header__main__down__leftbox-brand
          = link_to "ブランドから探す", root_path
      .header__main__down__rightbox
        .header__main__down__rightbox-new-member-registration
          = link_to "新規会員登録", root_path
        .header__main__down__rightbox-login
          = link_to "ログイン", root_path