= render "shared/header"
.wrapper
  .contents
    .slideshow
      .slideshow__draw
    .topcategories
      %h2.topcategories__title 人気のカテゴリー
      .topcategories__box
        %ul.topcategories__box__lists
          %li.topcategories__box__lists__left
            %a.topcategories__box__lists__left__button レディース
          %li.topcategories__box__lists__right
            %a.topcategories__box__lists__right__button メンズ
          %li.topcategories__box__lists__right
            %a.topcategories__box__lists__right__button 家電・スマホ・カメラ
          %li.topcategories__box__lists__right
            %a.topcategories__box__lists__right__button おもちゃ・ホビー・グッズ
    .itemwrap
      .itemlist
        .itemlist__top
          %h3.itemlist__top-title レディース新着アイテム
          %a.itemlist__top-more もっと見る
        .itemlist__main
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
      .itemlist.sub
        .itemlist__top
          %h3.itemlist__top-title メンズ新着アイテム
          %a.itemlist__top-more もっと見る
        .itemlist__main
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
      .itemlist.sub
        .itemlist__top
          %h3.itemlist__top-title 家電・スマホ・カメラ新着アイテム
          %a.itemlist__top-more もっと見る
        .itemlist__main
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
    .topcategories
      %h2.topcategories__title 人気のブランド
      .topcategories__box
        %ul.topcategories__box__lists
          %li.topcategories__box__lists__left
            %a.topcategories__box__lists__left__button ナイキ
          %li.topcategories__box__lists__right
            %a.topcategories__box__lists__right__button アディダス
          %li.topcategories__box__lists__right
            %a.topcategories__box__lists__right__button シュプリーム
          %li.topcategories__box__lists__right
            %a.topcategories__box__lists__right__button エルメス
    .itemwrap
      .itemlist
        .itemlist__top
          %h3.itemlist__top-title ナイキ新着アイテム
          %a.itemlist__top-more もっと見る
        .itemlist__main
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
      .itemlist.sub
        .itemlist__top
          %h3.itemlist__top-title アディダス新着アイテム
          %a.itemlist__top-more もっと見る
        .itemlist__main
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
          .card
            %a{href: 'https://item.mercari.com/jp/m50314037442/'}
              %figure.cardbox
                %figcaption.cardboxdetail
                  %span.cardtext くるま！中古！ああああああああああああああああああああああああああ
                .thumbnail
                  %span.Price ¥1,000
                  %img.cardimage{src: 'https://blog.evsmart.net/wp-content/uploads/2018/12/main-1038x576.jpg'}
      .itemlist.sub
        .itemlist__top
          %h3.itemlist__top-title シュプリーム新着アイテム
          %a.itemlist__top-more もっと見る
        .itemlist__main
  .createbutton
    %a.createbutton__link{href: 'https://www.mercari.com/jp/sell/'}
      .createbutton__link__bg
        .createbutton__link__bg-text 出品
        %svg.createbutton__link__bg-icon{"aria-hidden": "true", height: "16", viewbox: "0 0 18 16", width: "18"}
          %path{d: "M6.3 0L4.653 1.778H1.8c-.99 0-1.8.8-1.8 1.778v10.666C0 15.2.81 16 1.8 16h14.4c.99 0 1.8-.8 1.8-1.778V3.556c0-.978-.81-1.778-1.8-1.778h-2.853L11.7 0H6.3zM9 13.333c-2.484 0-4.5-1.99-4.5-4.444 0-2.453 2.016-4.445 4.5-4.445s4.5 1.992 4.5 4.445c0 2.453-2.016 4.444-4.5 4.444zm0-1.6c1.59 0 2.88-1.273 2.88-2.844S10.59 6.044 9 6.044c-1.59 0-2.88 1.274-2.88 2.845 0 1.57 1.29 2.844 2.88 2.844z", fill: "currentColor", "fill-rule": "nonzero"}
  %aside.bottom
    .aaa
    .bottom__contents
      .bottom__contents__centerd
        .bottom__contents__centerd__left
          .bottom__contents__centerd__left-title スマホで簡単フリマアプリ
          .bottom__contents__centerd__left-sub 今すぐ無料ダウンロード！
        %figure.bottom__contents__centerd__right
          %img.bottom__contents__centerd__right-smartphone{src: 'https://web-jp-assets.mercdn.net/_next/static/images/download_app_pc-a4418175e8be071827ac88d073f40e4a.png'}
= render "shared/footer"